/*====== Colors ======*/
$background: #333333;
$primary: #ffffff;
/*$secondary: rgba(150, 150, 150, 0.7);*/
$secondary: rgba(120, 120, 120, 0.8);
$highlight: rgba(75, 195, 255, 0.5);

$shadow: rgba(black,.7);

/*====== Fonts ======*/
$font-body: 'Open Sans', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-else: 'Raleway', sans-serif;

$xl-font-size: 7.0rem;
$l-font-size:  4.5rem;
$m-font-size:  2.0rem;
$s-font-size:  1.6rem;
$xs-font-size: 1.4rem;



